@page
@model WebApplication1.Pages.Account.AccessDeniedModel
@{
}
<h1>Adgang nægtet</h1>
<h2>Du skal være en admin, for at tilgå den side!</h2>
<a asp-page="/OurPages/BrugerSide">tilbage til bruger siden</a>