@* Kodo *@
@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privatlivspolitik";
}
<h1>@ViewData["Title"]</h1>
<p>Sidst opdateret: 6. maj 2024</p>
<p>Denne Privatlivspolitik beskriver vores politikker og procedurer vedrørende indsamling, brug og offentliggørelse af dine oplysninger, når du bruger Tjenesten, og informerer dig om dine privatlivsrettigheder og hvordan loven beskytter dig.</p>
<p>Vi bruger dine personlige data til at levere og forbedre Tjenesten. Ved at bruge Tjenesten accepterer du indsamlingen og brugen af information i overensstemmelse med denne Privatlivspolitik.</p>
<h2>Tolkning og Definitioner</h2>
<br />
<h3>Tolkning:</h3>
<p>Ordene, hvor det indledende bogstav er kapitaliseret, har betydninger defineret under følgende betingelser. De følgende definitioner har samme betydning, uanset om de vises i ental eller flertal.</p>
<br />
<h3>Definitioner:</h3>
<p>Til formål med denne Privatlivspolitik:</p>
<ul>
    <li>
        <p><strong>Konto</strong> betyder en unik konto, oprettet til dig for at få adgang til vores Tjeneste eller dele af vores Tjeneste.</p>
    </li>
    <li>
        <p><strong>Affiliate</strong> betyder en enhed, som kontrollerer, kontrolleres af eller er under fælles kontrol med en part, hvor "kontrol" betyder ejerskab af 50% eller mere af aktierne, ejerandele eller andre værdipapirer, der har stemmeret til valg af direktører eller anden administrativ myndighed.</p>
    </li>
    <li>
        <p><strong>Virksomhed</strong> (henvises til som enten "Virksomheden", "Vi", "Os" eller "Vores" i denne Aftale) refererer til Boo King ZEALAND, Maglegårdsvej 2.</p>
    </li>
    <li>
        <p><strong>Cookies</strong> er små filer, der placeres på din computer, mobil enhed eller enhver anden enhed af en hjemmeside, der indeholder detaljerne i din browserhistorik på den hjemmeside blandt dens mange anvendelser.</p>
    </li>
    <li>
        <p><strong>Land</strong> henviser til: Danmark</p>
    </li>
    <li>
        <p><strong>Enheden</strong> betyder enhver enhed, der kan få adgang til Tjenesten såsom en computer, en mobiltelefon eller en digital tablet.</p>
    </li>
    <li>
        <p><strong>Personlige Data</strong> er enhver information, der vedrører en identificeret eller identificerbar person.</p>
    </li>
    <li>
        <p><strong>Tjeneste</strong> henviser til Hjemmesiden.</p>
    </li>
    <li>
        <p><strong>Tjenesteudbyder</strong> betyder enhver fysisk eller juridisk person, der behandler data på vegne af Virksomheden. Det refererer til tredjepartsfirmaer eller enkeltpersoner, der er ansat af Virksomheden til at lette Tjenesten, til at levere Tjenesten på vegne af Virksomheden, til at udføre tjenester relateret til Tjenesten eller til at hjælpe Virksomheden med at analysere, hvordan Tjenesten bruges.</p>
    </li>
    <li>
        <p><strong>Brugsdata</strong> refererer til data, der automatisk indsamles, enten genereret af brugen af Tjenesten eller fra Tjenesteinfrastrukturen selv (for eksempel varigheden af et sidebesøg).</p>
    </li>
    <li>
        <p><strong>Hjemmeside</strong> henviser til Boo King, tilgængelig fra <a href="BooKingZealand.dk" rel="external nofollow noopener" target="_blank">BooKingZealand.dk</a></p>
    </li>
    <li>
        <p><strong>Du</strong> betyder den enkeltperson, der får adgang til eller bruger Tjenesten, eller virksomheden eller anden juridisk enhed, på hvis vegne en sådan person får adgang til eller bruger Tjenesten, efter behov.</p>
    </li>
</ul>
<h2>Indsamling og Brug af Dine Personlige Data</h2>
<h3>Typer af Indsamlede Data</h3>
<h4>Personlige Data</h4>
<p>Mens du bruger vores Tjeneste, kan vi bede dig om at give os visse personligt identificerbare oplysninger, der kan bruges til at kontakte eller identificere dig. Personligt identificerbare oplysninger kan omfatte, men er ikke begrænset til:</p>
<ul>
    <li>
        <p>E-mailadresse</p>
    </li>
    <li>
        <p>Fornavn og efternavn</p>
    </li>
    <li>
        <p>Telefonnummer</p>
    </li>
    <li>
        <p>Adresse, Stat, Provins, ZIP/Postnummer, By</p>
    </li>
    <li>
        <p>Brugsdata</p>
    </li>
</ul>
<h4>Brugsdata</h4>
<p>Brugsdata indsamles automatisk ved brug af Tjenesten.</p>
<p>Brugsdata kan omfatte oplysninger såsom din enheds internetprotokoladresse (f.eks. IP-adresse), browsertype, browser version, siderne på vores Tjeneste, som du besøger, tidspunktet og datoen for dit besøg, den tid, du bruger på disse sider, unikke enhedsidentifikatorer og andre diagnostiske data.</p>
<p>Når du får adgang til Tjenesten via en mobil enhed, kan vi automatisk indsamle visse oplysninger, herunder, men ikke begrænset til, den type mobile enheder, du bruger, din mobile enheds unikke ID, IP-adressen på din mobile enhed, din mobile operativsystem, den type mobil internetbrowser, du bruger, unikke enhedsidentifikatorer og andre diagnostiske data.</p>
<p>Vi kan også indsamle oplysninger, som din browser sender, når du besøger vores Tjeneste, eller når du får adgang til Tjenesten via en mobil enhed.</p>
<h4>Sporingsteknologier og Cookies</h4>
<p>Vi bruger Cookies og lignende sporingsmekanismer til at spore aktiviteten på vores Tjeneste og gemme visse oplysninger. De anvendte sporingsteknologier er beacons, tags og scripts til at indsamle og spore oplysninger og til at forbedre og analysere vores Tjeneste. De teknologier, vi bruger, kan omfatte:</p>
<ul>
    <li><strong>Cookies eller Browser Cookies.</strong> En cookie er en lille fil, der placeres på din enhed. Du kan instruere din browser til at nægte alle cookies eller til at angive, når en cookie sendes. Hvis du dog ikke accepterer cookies, kan du muligvis ikke bruge visse dele af vores Tjeneste. Medmindre du har justeret din browsers indstilling, så den nægter cookies, kan vores Tjeneste bruge cookies.</li>
    <li><strong>Web Beacons.</strong> Visse dele af vores Tjeneste og vores e-mails kan indeholde små elektroniske filer kendt som web-beacons (også omtalt som clear gifs, pixel tags og single-pixel gifs), der tillader Virksomheden, for eksempel at tælle brugere, der har besøgt disse sider eller åbnet en e-mail, og til andre relaterede webstedsstatistikker (for eksempel registrering af populariteten af en bestemt sektion og verificering af system- og serverintegritet).</li>
</ul>
<p>Cookies kan være "Vedvarende" eller "Session" Cookies. Vedvarende cookies forbliver på din personlige computer eller mobile enhed, når du går offline, mens Session Cookies slettes, så snart du lukker din webbrowser. Du kan lære mere om cookies på <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">TermsFeed website</a> artikel.</p>
<p>Vi bruger både Session- og Vedvarende Cookies til de formål, der er angivet nedenfor:</p>
<ul>
    <li>
        <p><strong>Nødvendige / Essentielle Cookies</strong></p>
        <p>Type: Session Cookies</p>
        <p>Administreret af: Os</p>
        <p>Formål: Disse Cookies er afgørende for at give dig tjenester, der er tilgængelige via Hjemmesiden, og for at muliggøre brugen af nogle af dens funktioner. De hjælper med at autentificere brugere og forhindre svigagtig brug af brugerkonti. Uden disse Cookies kan de tjenester, du har bedt om, ikke leveres, og vi bruger kun disse Cookies til at give dig disse tjenester.</p>
    </li>
    <li>
        <p><strong>Cookiespolitik / Bemærkning om accept af Cookies</strong></p>
        <p>Type: Vedvarende Cookies</p>
        <p>Administreret af: Os</p>
        <p>Formål: Disse Cookies identificerer, om brugere har accepteret brugen af cookies på Hjemmesiden.</p>
    </li>
    <li>
        <p><strong>Funktionalitetscookies</strong></p>
        <p>Type: Vedvarende Cookies</p>
        <p>Administreret af: Os</p>
        <p>Formål: Disse Cookies tillader os at huske de valg, du foretager, når du bruger Hjemmesiden, såsom at huske dine loginoplysninger eller sprogpræference. Formålet med disse Cookies er at give dig en mere personlig oplevelse og undgå, at du skal indtaste dine præferencer hver gang du bruger Hjemmesiden.</p>
    </li>
</ul>
<p>For mere information om de cookies, vi bruger, og dine valgmuligheder vedrørende cookies, skal du besøge vores Cookiespolitik eller afsnittet om Cookies i vores Privatlivspolitik.</p>
<h3>Brug af Dine Personlige Data</h3>
<p>Virksomheden kan bruge Personlige Data til følgende formål:</p>
<ul>
    <li>
        <p><strong>At levere og vedligeholde vores Tjeneste</strong>, herunder at overvåge brugen af vores Tjeneste.</p>
    </li>
    <li>
        <p><strong>At administrere Din Konto:</strong> for at administrere din registrering som bruger af Tjenesten. De Personlige Data, du giver, kan give dig adgang til forskellige funktionaliteter af Tjenesten, der er tilgængelige for dig som registreret bruger.</p>
    </li>
    <li>
        <p><strong>Til opfyldelse af en kontrakt:</strong> udviklingen, overholdelsen og gennemførelsen af købskontrakten for de produkter, varer eller tjenester, du har købt, eller af enhver anden kontrakt med os via Tjenesten.</p>
    </li>
    <li>
        <p><strong>At kontakte dig:</strong> for at kontakte dig via e-mail, telefonopkald, SMS eller andre ækvivalente former for elektronisk kommunikation, såsom push-meddelelser fra en mobilapplikation vedrørende opdateringer eller informative kommunikationer relateret til funktionaliteterne, produkterne eller kontraherede tjenester, herunder sikkerhedsopdateringer, når det er nødvendigt eller rimeligt for deres gennemførelse.</p>
    </li>
    <li>
        <p><strong>At give dig</strong> nyheder, specielle tilbud og generelle oplysninger om andre varer, tjenester og begivenheder, som vi tilbyder, der ligner dem, som du allerede har købt eller forespurgt om, medmindre du har valgt ikke at modtage sådanne oplysninger.</p>
    </li>
    <li>
        <p><strong>At administrere dine anmodninger:</strong> for at deltage i og administrere dine anmodninger til os.</p>
    </li>
    <li>
        <p><strong>Til virksomhedsoverførsler:</strong> Vi kan bruge dine oplysninger til at evaluere eller gennemføre en fusion, afhændelse, omstrukturering, reorganisering, opløsning eller anden salg eller overførsel af en del eller alle vores aktiver, enten som en løbende forretning eller som led i konkurs, likvidation eller lignende procedure, hvor personoplysninger, der holdes af os, om vores tjenestebrugere, er blandt de overførte aktiver.</p>
    </li>
    <li>
        <p><strong>Til andre formål</strong>: Vi kan bruge dine oplysninger til andre formål, såsom dataanalyse, identificering af brugstendenser, bestemmelse af effektiviteten af vores reklamekampagner og til at evaluere og forbedre vores Tjeneste, produkter, tjenester, markedsføring og din oplevelse.</p>
    </li>
</ul>
<p>Vi kan dele dine personlige oplysninger under følgende omstændigheder:</p>
<ul>
    <li><strong>Med Tjenesteudbydere:</strong> Vi kan dele dine personlige oplysninger med Tjenesteudbydere for at overvåge og analysere brugen af vores Tjeneste, for at kontakte dig.</li>
    <li><strong>Til virksomhedsoverførsler:</strong> Vi kan dele eller overføre dine personlige oplysninger i forbindelse med eller under forhandlinger om enhver fusion, salg af virksomhedsaktiver, finansiering eller erhvervelse af hele eller en del af vores virksomhed til et andet selskab.</li>
    <li><strong>Med Affiliates:</strong> Vi kan dele dine oplysninger med vores tilknyttede selskaber, i hvilket tilfælde vi vil kræve, at disse tilknyttede selskaber overholder denne Privatlivspolitik. Tilknyttede selskaber inkluderer vores moderselskab og eventuelle andre datterselskaber, joint venture-partnere eller andre selskaber, som vi kontrollerer, eller som er under fælles kontrol med os.</li>
    <li><strong>Med forretningspartnere:</strong> Vi kan dele dine oplysninger med vores forretningspartnere for at tilbyde dig visse produkter, tjenester eller tilbud.</li>
    <li><strong>Med andre brugere:</strong> Når du deler personlige oplysninger eller på anden måde interagerer i offentlige områder med andre brugere, kan sådanne oplysninger ses af alle brugere og kan offentligt distribueres uden for.</li>
    <li><strong>Med dit samtykke</strong>: Vi kan videregive dine personlige oplysninger til ethvert andet formål med dit samtykke.</li>
</ul>
<h3>Opbevaring af Dine Personlige Data</h3>
<p>Virksomheden vil kun opbevare dine personlige data, så længe det er nødvendigt for de formål, der er angivet i denne Privatlivspolitik. Vi vil opbevare og bruge dine personlige data i det omfang, der er nødvendigt for at overholde vores juridiske forpligtelser (f.eks. hvis vi er forpligtet til at opbevare dine data for at overholde gældende love), løse tvister og håndhæve vores juridiske aftaler og politikker.</p>
<p>Virksomheden vil også opbevare brugsdata til interne analyseformål. Brugsdata opbevares generelt i en kortere periode, medmindre disse data bruges til at styrke sikkerheden eller forbedre funktionaliteten af vores Tjeneste, eller vi er juridisk forpligtede til at opbevare disse data i længere perioder.</p>
<h3>Overførsel af Dine Personlige Data</h3>
<p>Dine oplysninger, herunder Personlige Data, behandles på Virksomhedens operative kontorer og på andre steder, hvor de involverede parter i behandlingen er placeret. Det betyder, at disse oplysninger kan overføres til — og vedligeholdes på — computere, der er placeret uden for dit statslige, regionale, nationale eller andet geografiske område, hvor databeskyttelseslove kan adskille sig fra dem i dit område.</p>
<p>Dine samtykke til denne Privatlivspolitik, efterfulgt af din indsendelse af sådanne oplysninger, repræsenterer din accept af denne overførsel.</p>
<p>Virksomheden vil træffe alle rimelige forholdsregler for at sikre, at dine data behandles sikkert og i overensstemmelse med denne Privatlivspolitik, og ingen overførsel af dine Personlige Data vil finde sted til en organisation eller et land, medmindre der er tilstrækkelige kontrol på plads, herunder sikkerhedsforanstaltninger for dine data og andre personlige oplysninger.</p>
<h3>Afsløring af Dine Personlige Data</h3>
<h4>Juridiske Krav</h4>
<p>Virksomheden kan afsløre dine Personlige Data i den tro på god tro, at en sådan handling er nødvendig for at:</p>
<ul>
    <li>Overholde en juridisk forpligtelse</li>
    <li>Beskytte og forsvare virksomhedens rettigheder eller ejendom</li>
    <li>Forebygge eller undersøge mulige uregelmæssigheder i forbindelse med Tjenesten</li>
    <li>Beskytte den personlige sikkerhed for brugere af Tjenesten eller offentligheden</li>
    <li>Beskytte mod juridisk ansvar</li>
</ul>
<h3>Sikkerhed af Dine Personlige Data</h3>
<p>Sikkerheden for dine personlige data er vigtig for os, men husk, at ingen metode til transmission over internettet eller metode til elektronisk lagring er 100% sikker. Mens vi stræber efter at bruge kommercielt acceptable midler til at beskytte dine Personlige Data, kan vi ikke garantere dets absolutte sikkerhed.</p>
<h2>Links til Andre Websteder</h2>
<p>Vores Tjeneste kan indeholde links til andre websteder, der ikke drives af os. Hvis du klikker på et tredjeparts link, bliver du dirigeret til den tredjeparts websted. Vi anbefaler kraftigt, at du gennemgår Privatlivspolitikken for hver side, du besøger.</p>
<p>Vi har ingen kontrol over og påtager os intet ansvar for indholdet, privatlivspolitikker eller praksis på tredjeparts websteder eller -tjenester.</p>
<h2>Ændringer til denne Privatlivspolitik</h2>
<p>Vi kan opdatere vores Privatlivspolitik fra tid til anden. Vi vil underrette dig om eventuelle ændringer ved at offentliggøre den nye Privatlivspolitik på denne side.</p>
<p>Vi vil give dig besked via e-mail og/eller en fremtrædende meddelelse om vores Service, før ændringen træder i kraft, og opdatere "sidst opdateret" dato øverst i denne Privatlivspolitik.</p>
<p>Vi anbefaler, at du gennemgår denne Privatlivspolitik regelmæssigt for eventuelle ændringer. Ændringer til denne Privatlivspolitik træder i kraft, når de er offentliggjort på denne side.</p>
<h2>Kontakt Os</h2>
<p>Hvis du har spørgsmål til denne Privatlivspolitik, kan du kontakte os:</p>
<ul>
    <li>Via email: contact@bookingzealand.dk</li>
</ul>
