@page
@model WebApplication1.Pages.OurPages.LogInModel
@{
}

<!DOCTYPE html>
<html>
<head>

    <style>
        .error-message {
            color: red;
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4"><b>Login</b></h1>
    <form method="post">
    <ul class="navbar-nav">
        <li class="nav-item">
            <input type="text" placeholder="Indsæt E-mail" name="email" required>
        </li>
        <li class="nav-item">
            <input type="password" placeholder="Indsæt Password" name="Kodeord" required>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-warning" asp-area="" asp-page="/Login/LogInPage">Log In</button>
        </li>
        <li class="nav-item">
            <a href="forgotpassword.html">Glemt Password?</a>
        </li>
        <li class="nav-item">
            <label><input type="checkbox" name="Husk mig"> Husk mig</label>
        </li>
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <li class="nav-item error-message">@Model.Message</li>
            }
    </ul>
    </form>
</div>









